* {
    box-sizing: border-box;
}

/*---------------Page level variables---------------*/
body {
    --header-heigth: 4em;
}

/*Cloak of invisibility*/
.invisible {
    display: none !important;
}

/*---------------Header---------------*/
#header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: var(--header-heigth);

    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 0px;
}
/*----------Logo----------*/
#logo {
    text-align: center;
    align-self: center;
    flex-grow: 2;

    border: 1px solid black;
}

/*----------Menu----------*/
/*-----Menu container-----*/
/*
The menu container is in the header and contains only the button
*/
#menu {
    position: relative;
    left: 0px;
    top: 0px;
    width: 4em;
    height: 4em;

    text-align: center;
    align-self: center;
}

.menu-subcategory {
    position: fixed;
    right: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
}

.menu-row {
    position: fixed;
    top: 0em;
    left: 0em;
    right: 0em;
    height: 4em;
}

.menu-label {
    position: relative;
    right: 0em;
    top: 0em;
    /* width: 0em;
    height: 0em; */

    font-size: 1.5em;
    text-align: right;
    color: white;

    opacity: 1;
}

.menu-icon {
    position: relative;
    right: 0em;
    top: 0em;
    /* width: 3em;
    height: 3em; */
    background-color: white;
    opacity: 1;
}

.menu-divider {
    position: fixed;
    right: 0.5em;
    top: 0.5em;
    width: 2em;
    height: 2em;
}

/*---------------Main Content---------------*/
#main-content {
    position: fixed;
    top: var(--header-heigth);
    left: 0px;
    right: -400%;
    bottom: 0px;
    z-index: -1;

    overflow-x: hidden;
}

.main-content-page {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100%;
    z-index: -1;

    text-align: center;

    border: 1px solid black;
}

/*---------------Main Content---------------*/
#overlays-container {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    text-align: center;

    border: 1px solid black;
    background-color: white;
}

.overlay {
    display: none;

    width: 90vw;
    min-height: 30vh;

    border: 1px solid black;
}

.overlay.visible {
    display: block;
}