#menu-categories-toggle-menu-row {
	top: 0em;
}
#menu-categories-divider-1 {
    top: 4em;
}
#menu-categories-add-category-row {
	top: 4em;
}
#menu-categories-delete-category-row {
	top: 8em;
}
#menu-categories-sort-categories-row {
	top: 12em;
}
#menu-categories-divider-2 {
    top: 16em;
}
#menu-categories-top-up-categories-row {
	top: 16em;
}
#menu-categories-divider-3 {
    top: 20em;
}
#menu-categories-logout-row {
	top: 20em;
}

/* #menu-categories-toggle-menu-label {
    right: 3em;
    opacity: 1;
}
#menu-categories-toggle-menu-icon {
    opacity: 1;
}

#menu-categories-add-category-label {
    top: 3.75em;
    right: 3em;
    opacity: 1;
}
#menu-categories-add-category-icon {
    top: 3.5em;
    opacity: 1;
}

#menu-categories-remove-category-label {
    top: 6.75em;
    right: 3em;
    opacity: 1;
}
#menu-categories-remove-category-icon {
    top: 8em;
    opacity: 1;
} */